@font-face {
  font-family: ConduitMedium;
  src: url('../fonts/Conduit ITC/ConduitITC-Medium.otf');
}

@font-face {
  font-family: RoswellFour;
  src: url('../fonts/Roswell/RoswellFourITCStd.otf');
}

@font-face {
  font-family: RoswellFourForm;
  src: url('../fonts/Roswell/RoswellFourITCStd.otf');
}

.noPadding {
  padding: 0;
}

#backgrounds {
  position: absolute;
  width: auto;
}

#backgrounds .visible-xs {
  height: 1327px;
}

#backgrounds .visible-xs .visible-md .visible-lg {
  height: auto;
}

.container-fluid {
  padding: 0;
}

#bg-360-top {
  z-index: 0
}

#bg-360-mid {
  position: relative;
  top: -243px;
  z-index: -1;
}

#bg-360-bottom {
  position: relative;
  top: -262px;
}

#text1-360 {
  font-family: RoswellFour;
  font-size: 53px;
  line-height: 52px;
}

#text2-360 {
  font-family: ConduitMedium;
  font-size: 19px;
}

#text1-768 {
  font-family: RoswellFour;
  font-size: 53px;
  line-height: 52px;
}

#text2-768 {
  font-family: ConduitMedium;
  font-size: 23px;
  line-height: 15px;
}

#text1-1280 {
  font-family: RoswellFour;
  font-size: 81px;
  line-height: 80px;
}

#text2-1280 {
  font-family: ConduitMedium;
  font-size: 30px;
  line-height: 28px;
}

#text1-1920 {
  font-family: RoswellFour;
  font-size: 121px;
  line-height: 120px;
}

#text2-1920 {
  font-family: ConduitMedium;
  font-size: 36px;
  line-height: 50px;
}

#formTitle {
  font-family: RoswellFourForm;
  font-size: 39px;
  line-height: 20px;
  color: white;
}

.formText {
  font-family: RoswellFourForm;
  font-size: 20px;
  color: black;
}

.formTextHeader {
  font-family: RoswellFourForm;
  font-size: 18px;
  color: black;
}

input[type='checkbox'] {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
}

input[type='text'], input[type='email'] {
  height: 50px;
}

#form_submit {
  color: white;
  background-color: black;
}

#text-success {
  font-family: RoswellFour;
  font-size: 107px;
  line-height: 106px;
  color: black;
  text-transform: uppercase;
}

.modal-content  {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
