@font-face {
  font-family: ConduitMedium;
  src: url('../fonts/Conduit ITC/ConduitITC-Medium.otf');
}

@font-face {
  font-family: RoswellFour;
  src: url('../fonts/Roswell/RoswellFourITCStd.otf');
}

.noPadding {
  padding: 0;
}

#backgrounds {
  position: absolute;
  width: auto;
}

#backgrounds .visible-xs {
  height: 1327px;
}

#backgrounds .visible-xs .visible-md .visible-lg {
  height: auto;
}

.container-fluid {
  padding: 0;
}

#bg-360-top {
  z-index: 0
}

#bg-360-mid {
  position: relative;
  top: -243px;
  z-index: -1;
}

#bg-360-bottom {
  position: relative;
  top: -262px;
}

#text1-360 {
  font-family: RoswellFour;
  font-size: 53px;
  line-height: 52px;
}

#text2-360 {
  font-family: ConduitMedium;
  font-size: 19px;
}

#text1-768 {
  font-family: RoswellFour;
  font-size: 53px;
  line-height: 52px;
}

#text2-768 {
  font-family: ConduitMedium;
  font-size: 23px;
  line-height: 15px;
}

#text1-1280 {
  font-family: RoswellFour;
  font-size: 81px;
  line-height: 80px;
}

#text2-1280 {
  font-family: ConduitMedium;
  font-size: 30px;
  line-height: 28px;
}

#text1-1920 {
  font-family: RoswellFour;
  font-size: 121px;
  line-height: 120px;
}

#text2-1920 {
  font-family: ConduitMedium;
  font-size: 36px;
  line-height: 50px;
}
